{% extends 'layout1.html'%} 



{%block title%}<title>SIGN-IN</title>
<style>
    *{
        font-family: monaco,Consolas,Lucida Console,monospace;
      }      
      
    .cont{
        height: 98vh;
        background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
        border-radius: 10px;
    }
    .cont container{
        height:50%; 
        text-align: center; 
        font-size:250px;

    }
    form{
        display: inline-block;
    }
    a{
        text-align: center;
        color: whitesmoke;
    }
    .hd{
        text-align: center;
        text-overflow: ellipsis;
        text-decoration: none;
        background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10%;
    }
    input{
        margin-bottom: 25px;
        border-radius: 5px;
        width: 75%;
        height: 40px;
        font-size: 10%;
        }
</style>
{%endblock%}
    
{%block content%}
<body>
    <div class="cont">
        <div class="container" ">
            <!-- 
            <form action="#" method="get">
                <p class="hd" >SIGN-IN</p>
                <input type="email" name="" id="email" placeholder="EMAIL-ID" required><br><br>
                <input type="password" name="" id="password" placeholder="PASSWORD" required><br>

                <div style="text-align: center; font-size:10%;"><a href=""><p >FORGOT PASSWORD?</p></a></div>
                <input type="button" value="SUBMIT" style="width: 100px;border-radius:35px;background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);">
            </form> 
        -->
            
        </div>

    </div>
    <br>
    <!-- <div class="cont" style="height: 98vh;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);"> -->
         
    </div>
{%endblock%}